.main {
    width: 70vw;
    height: 90vh;
    background: inherit;
    padding: 1vw;
    margin: auto;
    position: relative;
    top: 5vh;
}

body {
    animation-name: background;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    font-family: 'Abel', sans-serif
}

.team-img {
  background-color: rgb(200, 200, 200, 0.5);
    width: 15vw;
    height: 15vw;
    border: 5px solid rgb(13, 184, 252);
    margin: auto;
    transform: rotateY(180deg);
    animation-name: photo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s
}

.test1 {
    background-color: rgb(35, 171, 250);
    color: blue;
    padding: 20px;
    animation-name: text;
    animation-duration: 1s;
    animation-fill-mode: forwards
}

.content-text{
  text-align: justify;
  font-size: 70%;
  font-weight: bolder;
  color: white;
}

@keyframes text {
    from {
        width: 0%;
        font-size: 0vw
    }

    to {
        width: 45vw;
        font-size: 1.2vw
    }
}

@keyframes photo {
    from {
        transform: rotateY(180deg)
    }

    to {
        transform: rotateY(360deg)
    }
}

.by {
    font-family: 400 1rem/1.5rem "Raleway", sans-serif;
    margin-bottom: 0;
    color: white
}

@media only screen and (max-width: 425px) {
    .main {
        width: 100vw;
        padding: 3vw;
        height: auto
    }

    .test1 {
        padding: 3vw;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    .content-text{
      text-align: justify;
      font-size: 3.6vw;
      font-family: sans-serif;
    }

    .team-img{
      height: 30vw;
      width: 30vw;
    }

    img.team-img.left {
        margin-left: -100px;
    }

    img.team-img.right {
        margin-left: 100px;
    }

    @keyframes text {
        from {
            font-size: 0vw
        }

        to {
            font-size: 1.2vw
        }
    }
}

@media only screen and (max-width: 768px) {
.team-img{
    width: 80%;
    height: auto;
    box-align: center;
}
}
